.container{
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    color: #717171;
    margin-bottom: 10px;
    flex-wrap: nowrap;
}
.images{
    padding: 10px;
}

.text1{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 17px;
    width: 628px;
    height: 72px;
    margin-top: 2px;

}
.header{
    color:#4D4D4D;
    margin-top: 40px;
    margin-bottom: 2px;
}
