.section4 {
    display: flex;
    gap: 40px;
    padding: 10%;
    align-items: center;
    flex-wrap: wrap;
}

.section4 img {
    max-width: 100%;
    height: auto;
}

.section4 h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.text {
    font-size: 1.25rem;
    font-weight: 600;
    padding-top: 20px;
    line-height: 1.6;
    font-family: 'Inter', sans-serif;
}

.section4 button {
    font-size: 1rem;
    cursor: pointer;
    height: 52px;
    width: 151px;
}

@media only screen and (max-width: 728px) {
    .section4 {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5%;
    }

    .section4 h1 {
        font-size: 24px;
    }

    .section4 p {
        font-size: 16px;
    }

    .section4 button {
        display: none;
    }
}
